html{width: 100%;}

.pinkFont {
  color: #f25287 !important;
}

.pinkFont a:hover{
  color: #be6182 !important;
}

.pinkFont2 {
  color: #f8a1d1 !important;
}

.nav-item a:hover{
  color:#c07ca1!important;
  font-size: 1.2rem;
}


.shadow1 {
  padding: 0 !important;
  margin: 0 !important;
}
.font1 {
  font-family: "Tourney", cursive;
  font-size: 2rem;
}
.korean {
  font-family: "Jua", sans-serif;
}

.explain {
  color: rgb(112, 112, 112);
}

.title {
  color: #CE97B0;
}

.onego {
  color: #f25287;  
}

.topIcon {
  font-size: 2rem;
}
.topContainer {
  background-color: #ece3e3f3;
  width: auto;
  margin: 0;
}
.topContainer2 {
  background-color: white;
}
.verticalLine {
  border-left: 6px solid rgb(244, 169, 168);
  height: max-content;
}
.verticalLine2 {
  border-right: 6px solid rgb(244, 169, 168);
  height: max-content;
}

.horizontalLine {
    border-bottom: 6px solid rgb(244, 169, 168);
    width: max-content;
}

textarea {height: 40vh!important; margin-top: 30px;}

.submitButton {border-width: 3px; border-radius: 20px!important; width: 150px;}

.feedback{color: rgb(175, 175, 175) ;}

@media only screen and (max-width: 769px) {
  .verticalLine {
    border: none;
  }
  .horizontalLine2{
    border-bottom: 6px solid rgb(244, 169, 168);
    width: max-content;
  }
}